body {
  background-color: rgb(250, 165, 180);
  margin: 0;
  font-family: Poppins, Arial;
}

.container {
  max-width: 550px;
  margin: auto;
  padding: 20px;
}

.app-title {
  text-align: center;
  color: #8b0a37;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* FORMULARIO */
.task-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #ffe1ec;
  border: 2px solid #b92c4f;
  padding: 20px;
  border-radius: 15px;
}

.task-form input,
.task-form select {
  padding: 10px;
  border: 2px solid #b92c4f;
  border-radius: 8px;
  font-size: 16px;
}

.task-form button {
  padding: 12px;
  background-color: #8b0a37;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.task-form button:hover {
  background-color: #5d0725;
}

.label {
  font-weight: bold;
}

/* LISTA */
.empty {
  text-align: center;
  color: #5d0725;
  margin-top: 20px;
}

.task-item {
  background-color: #ffe1ec;
  border: 2px solid #b92c4f;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.task-item.completed {
  opacity: 0.5;
  text-decoration: line-through;
}

/* PRIORIDADES */
.prio {
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
}

.prio.alta {
  background-color: #c20000;
}

.prio.media {
  background-color: #d98324;
}

.prio.baja {
  background-color: #4a9c48;
}

/* BOTONES */
.task-buttons button {
  margin-right: 10px;
  margin-top: 10px;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background-color: #8b0a37;
  color: white;
  cursor: pointer;
}

.task-buttons button:hover {
  background-color: #5d0725;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}
